<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_joint_test">

    <xacro:property name="PI" value="3.141592"/>

    <xacro:property name="rotor_inertia" value="1.0"/>
    <xacro:property name="rotor_position_max" value="${PI}"/>
    <xacro:property name="rotor_position_min" value="${-PI}"/>
    <xacro:property name="rotor_velocity_max" value="10.0"/>
    <xacro:property name="rotor_effort_max" value="10.0"/>
    
    <link name="world"/>
    
    <!-- Single joint macro -->
    <xacro:include filename="core/single_joint.urdf.xacro"/>

    <xacro:single_joint_macro name="body_1" parent_name="world" x="0.0" y="0.0" inertia="${rotor_inertia}" pos_max="${rotor_position_max}" pos_min="${rotor_position_min}" vel_max="${rotor_velocity_max}" effort_max="${rotor_effort_max}"/>
    

    <ros2_control name="single_joint_test" type="system">
        <hardware>  
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <!-- Add joint hardware interfaces -->
        <xacro:include filename="core/joint_hardware_macros.urdf.xacro"/>   
        <xacro:joint_hardware_macro name="body_1" pos_min="rotor_position_min" pos_max="rotor_position_max" vel_max="rotor_velocity_max" effort_max="rotor_effort_max"/>
    </ros2_control>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find joint_controller)/config/chaining_joint_test.yaml</parameters>
        </plugin>
    </gazebo>

</robot>