<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name ="joint_hardware_macros">

    <!-- JMotor and actuator macro for ros2_control hardware interface -->
    <xacro:macro name="joint_hardware_macro" params="name pos_min pos_max vel_max effort_max">
        <joint name="${name}_joint">
            <command_interface name="position">
                <param name="min">${pos_min}</param>
                <param name="max">${pos_max}</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-${vel_max}</param>
                <param name="max">${vel_max}</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-${effort_max}</param>
                <param name="max">${effort_max}</param>
            </command_interface>                  
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </xacro:macro>

</robot>